* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

nav {
    top: 0;
    z-index: 3;
    color: black;
    width: 100%;
    position: fixed;
    background-color: white;
    padding-bottom: 10px;
}

.about-dropdown:hover .about-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-menu {
    display: none;
    position: absolute;
    background-color: white;
    height: 150px;
    width:200px;
    list-style: none;
}

.about-menu li {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-menu li a {
    text-decoration: none;
    border: 1px solid grey;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: none;
}

.burger {
    height: 40px;
    width: 40px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    display: none;
    overflow: hidden;
}

.line1open {
    transform: rotate(45deg) translate(8px, 8px);
    transition: 1s;
}

.line3open {
    transform: rotate(-45deg) translate(8px, -8px);
    transition: 1s;
}

.line2open {
    transform: translateX(-40px);
    visibility: hidden;
    transition: 1s;
}

.line1, .line2, .line3 {
    height: 6px;
    width: 30px;
    background-color: black;
    border-radius: 3px;
    transition: 1s;
    transition: 1s;
}

.navcontainer {
    display: flex;
    width: 90%;
    margin: auto;
    border-bottom: 3px solid black;
    justify-content: space-between;
    padding: 10px;
    padding-left: 50px;
}

@media screen and (max-width: 900px) {
    .cards {
        flex-direction: column;
    }
    .card {
        width: 400px !important;
        height: 250px !important;
        max-width: 90% !important;
        margin: auto;
        margin-bottom: 50px;
    }

    .home-top {
        padding: 40px 10px 40px 10px !important;
        text-align: center;
        width: 90% !important;
        height: fit-content !important;
    }

    .home-mission {
        margin-top: 80px !important;
        height: fit-content !important;
        padding: 40px 10px 40px 10px !important;
        width: 90% !important;
        margin-bottom: 80px !important;
    }

    .missionheading {
        text-align: center;
    }

    .home-mission ul {
        margin-left: 20px;
    }

    .navcontainer .nav-links {
        display: none;
    }

    .burger {
        display: flex;
    }

    .home-content {
        display: flex !important;
        flex-direction: column;
        height: 100% !important;
    }

    .home-content p {
        width: 90% !important;
        margin: auto !important;
    }
    .home-content .tools {
        width: 90%;
        margin: auto;
        margin-top: 100px;
    }

    .ht-headers h1 {
        font-size: 24px;
    }

    .ht-headers h2 {
        margin-top: 20px;
        font-size: 20px;
    }

    .contact-top {
        flex-direction: column-reverse;
    }

    .contact-top img {
        max-width: 100% !important;
    }
}

@media screen and (max-width: 420px) {
    .logo {
        margin-left: -50px;
    }
}
.nav-links {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    list-style: none;
}

.dropdown {
    display: flex;
    transform: scaleY(1) !important;
    opacity: 1 !important;
}

.min-about {
    height: fit-content !important;
    text-decoration: none;
    color: black;
    font-size: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.min-about li {
    width: 100%;
    height: 60px;
}

.clickdown {
    width: 100%;
}

.min-about a {
    color: black;
    font-size: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.min-about-menu {
    display: none;
}

.mam-expand {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-decoration: underline;
}

.nav-links-min {
    flex-direction: column;
    width: 100%;
    position: absolute;
    background-color: white;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: 0.5s;
    opacity: 0;
    transform-origin: top right;
    transform: scaleY(0);
}

.mnl {
    border-bottom: 1px solid grey;
    width: 100%;
    height: 60px;
}

.min-a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.nav-links a {
    color: black;
    font-size: 20px;
    text-decoration: underline;
}

.nav-links a:hover {
    transition: 1s;
    color: rgb(64, 70, 165);
}

.page {
    padding-top: 120px;
}

.home-top {
    background-image: url('../imgs/bg3.png');
    padding: 50px;
    height: 350px;
    width: 80%;
    margin: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    z-index: 1;
    box-shadow: 0px 0px 25px 5px white;
    box-shadow: 0px 0px 15px 5px rgb(2, 108, 179);
    max-width: 850px;
}

.ht-headers {
    z-index: 3;
    position: relative;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.home-top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.178);
    border-radius: 15px;
    z-index: 2;
}

.home-mission::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 3, 3, 0.63);
    border-radius: 15px;
    z-index: 2;
}

.home-mission {
    background-image: url('../imgs/bg2.png');
    padding: 50px;
    height: 300px;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    z-index: 1;
    box-shadow: 0px 0px 15px 5px rgb(2, 108, 179);
    max-width: 900px;
    color: white;
}

.mission {
    z-index: 2;
    display: flex;
    justify-content: center;
}

.missionpoints {
    font-size: 17px;
}

.home-content {
    width: 95%;
    margin: auto;
    padding: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 1100px;
    margin-top: 120px;
    margin-bottom: 100px;
    height: 100%;
}

.home-content p {
    line-height: 35px;
    margin-right: 100px;
}

.tools {
    height: 100%;
    line-height: 30px;
}

.tools ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.tools li {
    margin-bottom: 10px;
}

.cards {
    display: flex;
    width: 95%;
    margin: auto;
    margin-top: 100px;
    justify-content: space-between;
    max-width: 900px;
}
  
.card-img {
    width: 180px;
    height: auto;
}
  
.card {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.479);
    box-shadow: 0px 0px 15px 5px rgb(2, 108, 179);
    border: 1px solid white;
    border-radius: 20px;
    width: 250px;
    height: 300px;
}

footer {
    margin-top: 50px;
    background:black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 240px;
    width: 100%;
}

.footer-bottom {
    text-align: center;
    margin-bottom: 30px;
}

.footer-top {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    color: white;
    align-items: center;
    margin-top: 30px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    width: 110px;
}

.footer-links a {
    color: white !important;
    font-size: 30px;
}

@media screen and (min-width: 1000px) {
    .footer-top {
        width: 70%;
        margin: auto;
    }

    .footer-links {
        width: 200px;
    }
}

.headingabout {
    width: 90%;
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.headingabout h1 {
    margin-bottom: 20px;
    font-size: 40px;
    text-decoration: underline;
    text-align: center;
}

.headingabout p {
    margin-top: 10px;
    line-height: 26px;
    width: 80%;
    text-align: center;
}

.abouticon {
    font-size: 80px;
    color: white;
    background-color: rgb(56, 158, 248);
    border-radius: 50%;
    padding: 15px;
    margin-top: 50px;
    box-shadow: 0px 0px 15px 5px rgb(47, 182, 255);
    animation-name: volticonbounce;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.navicon {
    font-size: 30px;
    margin-right: 10px;
    color: white;
    background-color: rgb(47, 196, 255);
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0px 0px 15px 0px rgb(47, 203, 255);
}

@keyframes volticonbounce {
    0%, 50%, 100% {
        transform: translateY(0);
    } 
    25% {
        transform: translateY(-10px);
    } 
    75% {
        transform: translateY(-6px);
    } 
}

.aboutsec {
    width: 90%;
    margin: auto;
    border: 1px solid rgb(69, 179, 252);
    box-shadow: 0px 0px 10px 5px rgb(161, 241, 255);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    max-width: 1100px;
    margin-bottom: 50px;
}

.aboutimage img {
    width: 450px;
    height: auto;
}

.aboutinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.aboutinfo h1 {
    text-decoration: underline;
    margin-bottom: 15px;
}

@media screen and (max-width: 900px) {
    .aboutsec {
        flex-direction: column;
    }
    .aboutimage {
        text-align: center;
    }
    .aboutimage img {
        margin-bottom: 10px;
        max-width: 100%;
    }
    .aboutinfo h1 {
        text-align: center;
        margin-bottom: 10px;
    }
}

.aboutme {
    width: 1000px;
    max-width: 90%;
    margin: auto;
    margin-top: -50px;
}

.meimage {
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.meinfo {
    line-height: 34px;
}

.meinfo h1 {
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 20px;
}

.amspan {
    font-weight: bold;
    color: blueviolet;
}

.aboutmep p {
    margin-top: 8px;
}

.contact-form {
    max-width: 90%;
    width: 600px;
    margin: auto;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form form{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 90%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgb(185, 255, 163);
    border-radius: 15px;
    max-width: 100%;
}

.formdiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 100%;
}

form input, form textarea {
    height: 40px;
    width: 300px;
    line-height: 30px;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    max-width: 90% !important;
    margin: auto;
}

form textarea {
    height: 80px !important;
}

form button {
    width: 100px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    font-size: 24px;
    border-radius: 5px;
    background-color: black;
    color: white;
    border: none;
}

.contact-heading {
    text-align: center;
    max-width: 90%;
    margin: auto;
}

.contact-top {
    display: flex;
    max-width: 90%;
    width: 1000px;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
}

.contact-top img {
    width: 500px;
    max-width: 60%;
    height: auto;
}

.contact-info {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contact-info p {
    width: 100%;
    margin: 10px;
    text-align: center;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacticon {
    font-size: 24px;
    margin-right: 20px;
}

@media screen and (max-width: 330px) {
    footer {
        font-size: 14px;
    }

    .contact-info p {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 95%;
    }
}

@keyframes dot1bounce {
    0%, 50%, 100% {
        transform: translateY(0);
    } 
    25% {
        transform: translateY(-15px);
    } 
    75% {
        transform: translateY(-15px);
    } 
}
@keyframes dot2bounce {
    0%, 50%, 100% {
        transform: translateY(0);
    } 
    25% {
        transform: translateY(-15px);
    } 
    75% {
        transform: translateY(-15px);
    } 
}
@keyframes dot3bounce {
    0%, 50%, 100% {
        transform: translateY(0);
    } 
    25% {
        transform: translateY(-15px);
    } 
    75% {
        transform: translateY(-15px);
    } 
}

.bounce {
    height: 200px;
    width: 400px;
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}

.dot1 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgba(111, 55, 241, 0.603);
    margin-top: 25px;
    animation-name: dot1bounce;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.dot2 {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgba(111, 55, 241, 0.603);
    margin-top: 15px;
    animation-name: dot1bounce;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 500ms;
}

.dot3 {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgba(111, 55, 241, 0.603);
    animation-name: dot1bounce;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
}

.wdtop h1 {
    font-size: 44px;
    color: rgb(119, 43, 226);
    text-decoration: underline;
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
}

.wdtop p {
    font-size: 22px;
    position: relative;
    z-index: 2;
}

.wd-points {
    width: 85%;
    margin: auto;
    padding: 10px;
    max-width: 800px;
}

.wd-points li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.wd-icon {
    text-align: center;
}

.wdtop {
    width: 90%;
    margin: auto;
    max-width: 1000px;
    background-image: url('../imgs/wgbg.jpg');
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 0px 35px 0px rgb(82, 255, 47);
    padding-top: 80px;
    padding-bottom: 80px;
    background-size: cover;
    z-index: 2;
    text-align: center;
}

.wdtop::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.43);
    border-radius: 15px;
    z-index: 1;
    border-radius: 20px;
}

.wd-prices {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 100px;
}

.wdp-header {
    text-decoration: underline;
    font-size: 40px;
    margin-bottom: 50px;
}

.cost {
    display: flex;
    align-items: center;
    font-size: 35px;
}

.price-cards {
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-evenly;
    max-width: 1200px;
}


.price-card {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.479);
    box-shadow: 0px 0px 15px 0px rgb(3, 170, 36);
    border: 1px solid white;
    border-radius: 20px;
    width: 260px;
    height: 430px;
}

.price-points {
    font-size: 14px;
    text-align: center;
    width: 90%;
    margin: auto;
    list-style-position: inside;
}

.price-points li {
    margin-bottom: 5px;
}

@media screen and (max-width: 900px) {
    .price-cards {
        flex-direction: column;
    }
    .price-card {
        width: 350px !important;
        height: 420px !important;
        max-width: 90% !important;
        margin: auto;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 335px) {
    .price-card {
        height: 460px !important;
    }
}

.bstop {
    width: 90%;
    margin: auto;
    max-width: 1000px;
    background-image: url('../imgs/whitebg.jpg');
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 0px 35px 0px rgb(255, 161, 253);
    padding-top: 80px;
    padding-bottom: 80px;
    background-size: cover;
    z-index: 2;
    text-align: center;
}

.bstop::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(251, 229, 253, 0.548);
    border-radius: 15px;
    z-index: 1;
    border-radius: 20px;
}

.bstop h1 {
    font-size: 44px;
    color: rgb(1, 10, 93);
    text-decoration: underline;
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
}

.bstop p {
    font-size: 22px;
    position: relative;
    z-index: 2;
}

.batop {
    width: 90%;
    margin: auto;
    max-width: 1000px;
    background-image: url('../imgs/bg.png');
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 0px 35px 0px rgb(98, 122, 255);
    padding-top: 80px;
    padding-bottom: 80px;
    background-size: cover;
    z-index: 2;
    text-align: center;
}

.batop::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.608);
    border-radius: 15px;
    z-index: 1;
    border-radius: 20px;
}

.batop h1 {
    font-size: 44px;
    color:white;
    text-decoration: underline;
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
}

.batop p {
    font-size: 22px;
    position: relative;
    z-index: 2;
    color: white;
}

/*
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 2000px;}
}

.stars,
.twinkling,
.clouds {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: none;
}

.stars {
  background:#000000 url(../imgs/stars.png) repeat top center;
  z-index:-1;
}

.twinkling{
  background:transparent url(../imgs/twinkling.png) repeat top center;
  z-index:-1;
  animation:move-twink-back 200s linear infinite;
}

.clouds{
    background:transparent url(../imgs/clouds.png) repeat top center;
    z-index:-2;
    opacity: .4;
    animation:move-clouds-back 200s linear infinite;
}
*/